.card-list {
  // margin-bottom: 100px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  // .card-list__item
  &__item {
    flex: 0 50%;
    padding: 0 10px;
    @include adaptiv-value('margin-bottom', 60, 30, 1);
    @media (max-width: 768px) {
      flex: 1 1 100%;
    }
  }
}

.item-card-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // .item-card-list__title
  &__title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  // .item-card-list__wrapper
  &__wrapper {
    border: 1px solid #000;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
  }

  // .item-card-list__img
  &__img {
    width: 100%;
    position: relative;
    min-height: 320px;

    // overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      max-height: 350px;
      object-fit: cover;
      transition: all 3s ease 0s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  // .item-card-list__descr
  &__descr {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @include adaptiv-value('padding', 30, 10, 1);
  }
  // .item-card-list__labels
  &__labels {
    position: absolute;
    @include adaptiv-value('top', 35, 10, 1);
    @include adaptiv-value('left', 35, 10, 1);

    display: flex;
    gap: 5px;
  }
  // .item-card-list__label
  &__label {
    font-size: 11px;
    white-space: nowrap;
    padding: 5px;
    background-color: #fff;
    font-weight: 700;
    &_red {
      background-color: $colorRed;
      color: #fff;
      text-transform: uppercase;
    }
  }
  // .item-card-list__details
  &__details {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
    margin-bottom: 30px;
    @media (max-width: 480px) {
      flex-direction: column-reverse;
    }
  }
  &__column {
    padding: 0 10px;
    flex: 0 0 50%;
    @media (max-width: 480px) {
      flex: 1 1 100%;
    }
  }
  // .item-card-list__route
  &__route {
  }
  // .item-card-list__info
  &__info {
  }
  // .item-card-list__buttons
  &__buttons {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    a {
      width: 100%;
      @media (max-width: 1100px) {
        min-width: auto;
      }
    }
  }

  //<dates-card-item>====================================================================================================
  .dates-card-item {
    // .dates-card-item__title
    &__title {
      font-size: 16px;
      line-height: 16px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    // .dates-card-item__items
    &__items {
    }
    // .dates-card-item__item
    &__item {
      font-size: 13px;
      margin-bottom: 10px;
    }
    // .dates-card-item__bottom
    &__bottom {
      font-size: 16px;
      font-weight: 700;
      a {
        color: inherit;
      }
    }
  }
  .item-card-list {
    // .item-card-list__price
    &__price {
    }
  }
  //<price-card-item>====================================================================================================
  .price-card-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    // .price-card-item__uah
    &__uah {
      font-size: 13px;
      font-weight: 700;
      margin-bottom: 10px;
      span {
        font-size: 25px;
      }
    }
    // .price-card-item__currency
    &__currency {
      font-size: 20px;
      margin-bottom: 10px;
    }
    // .price-card-item__info-list
    &__info-list {
      font-size: 11px;
      line-height: 16px;
      flex-grow: 1;
      margin-bottom: 10px;
    }
    // .price-card-item__info-item
    &__info-item {
    }
    // .price-card-item__info
    &__info {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    // .price-card-item__info-col
    &__info-col {
      @media (max-width: 480px) {
        margin-bottom: 15px;
      }
      // flex: 0 0 50%;
    }
    // .price-card-item__info-label
    &__info-label {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    // .price-card-item__info-value
    &__info-value {
      font-size: 13px;
    }
  }
  //<route-item-card>====================================================================================================

  .route-item-card {
    display: flex;
    margin-bottom: 30px;
    gap: 10px;
    @media (max-width: 480px) {
      flex-direction: column;
    }
    // .route-item-card__flags
    &__flags {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      flex: 1 1 190px;
      @media (max-width: 480px) {
        flex: auto;
        margin-bottom: 15px;
      }
    }
    // .route-item-card__flag
    &__flag {
      display: inline-block;
      width: 30px;
      height: 20px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    // .route-item-card__cities
    &__cities {
      font-size: 11px;
      line-height: 13px;
      font-weight: 600;
      opacity: 0.5;
    }
  }
  //<info-item-card>====================================================================================================

  .info-item-card {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    @media (max-width: 480px) {
      flex-direction: column;
    }

    margin-bottom: 30px;
    // .info-item-card__icons
    &__icons {
      flex: 0 1 170px;
      justify-content: space-around;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      @media (max-width: 480px) {
        flex: auto;
        margin-bottom: 15px;
      }
    }
    // .info-item-card__icon
    &__icon {
      width: 30px;
      height: 30px;
    }
    // .info-item-card__ratings
    &__ratings {
      display: flex;
      flex-wrap: wrap;
      line-height: 25px;
      gap: 15px;
      justify-content: space-between;
    }
    // .info-item-card__reviews
    &__reviews {
      white-space: nowrap;
      font-size: 15px;
      text-transform: uppercase;
      position: relative;
      padding-left: 24px;
      span {
        font-weight: 700;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-image: url(../img/icons/like.svg);
          background-position: center center;
        }
      }
    }
    // .info-item-card__stars
    &__stars {
      // margin-left: 17px;
      position: relative;
      text-transform: uppercase;
      padding-left: 24px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-image: url(../img/icons/star.svg);
        background-position: center center;
      }
    }
  }
}
