.single-country {
  // .single-country__container
  &__container {
  }
  // .single-country__tabs
  &__tabs {
  }
}

.tabs-single-country {
  margin-bottom: 60px;
  // .tabs-single-country__nav
  &__nav {
    background-color: $colorBeige;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 15px;
    align-items: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    margin-bottom: 60px;
    @media (max-width: 992px) {
      justify-content: space-evenly;
    }
  }
  // .tabs-single-country__item
  &__item {
    transition: all 0.3s ease 0s;
    cursor: pointer;
    padding: 15px;
    text-align: center;

    &._active {
      color: $colorRed;
    }
    &:hover {
      color: $colorRed;
    }
    @media (max-width: 992px) {
      padding: 10px;
    }
  }
  // .tabs-single-country__body
  &__body {
  }
  // .tabs-single-country__block
  &__block {
  }
}
/* *********************** */
.tabs-single-country {
  // .tabs-single-country__block
  &__block {
  }
}
.country-tab-city {
  margin-bottom: 60px;
  // .country-tab-city__list
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
  }
}
.country-tab-showplace {
  margin-bottom: 60px;
  // .country-tab-city__list
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
  }
}

.tabs-single-country {
  // .tabs-single-country__block
  &__block {
  }
}
.country-showplace {
  // .country-showplace__block
  &__block {
  }
}

.block-showplace-country {
  // .block-showplace-country__item
  &__item {
  }
  // .block-showplace-country__header
  &__header {
  }
  // .block-showplace-country__subheader
  &__subheader {
  }
  // .block-showplace-country__list
  &__list {
  }
}
.item-showplace-country {
  // .item-showplace-country__img
  &__img {
  }
  // .item-showplace-country__title
  &__title {
  }
  // .item-showplace-country__text
  &__text {
  }
  // .item-showplace-country__link
  &__link {
    color: inherit;
    i {
      background-color: #000;
    }
  }
}
.arrow-detail {
}
