.hot-offer-block {
  @include adaptiv-value('padding-bottom', 100, 60, 1);

  // .hot-offer-block__container
  &__container {
  }
  // .hot-offer-block__header
  &__header {
    @include adaptiv-value('height', 300, 100, 1);
    // height: 300px;
    margin-bottom: 10px;

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .hot-offer-block__list
  &__list {
  }
}

.hot-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (max-width: 768px) {
    gap: 20px;
  }

  // .hot-list__row
  &__row {
    width: 100%;
    display: flex;
    gap: 10px;

    &:nth-child(even) {
      flex-direction: row-reverse;
      @media (max-width: 600px) {
        flex-direction: column;
      }
    }
    @media (max-width: 600px) {
      flex-direction: column;
      gap: 20px;
    }
  }
  // .hot-list__item
  &__item {
    &:nth-child(even) {
      width: 60%;
      flex-direction: row-reverse;
      @media (max-width: 768px) {
        width: 50%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }
    }
    &:nth-child(odd) {
      width: 40%;
      @media (max-width: 768px) {
        width: 50%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }
}
.item-hot {
  // height: 392px;
  overflow: hidden;

  @include adaptiv-value('height', 392, 250, 1);
  position: relative;
  @media (max-width: 992px) {
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 60.28%, rgba(0, 0, 0, 0.54) 100%);
    z-index: 2;
  }
  img {
    transition: all 0.8s ease 0s;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover img {
    transform: scale(1.1);
  }
  // .item-hot__labels
  &__labels {
    position: absolute;
    @include adaptiv-value('top', 20, 10, 1);
    @include adaptiv-value('left', 20, 10, 1);
    z-index: 3;
    font-size: 11px;
    max-width: 100px;
    @media (max-width: 992px) {
    }
    @media (max-width: 768px) {
      font-size: 12px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  // .item-hot__label
  &__label {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    display: inline-flex;
  }
  .color-red {
    background-color: $colorRed;
  }
  // .item-hot__details
  &__details {
    position: absolute;
    bottom: 30px;
    left: 40px;
    color: #fff;
    z-index: 3;
    max-width: 250px;
    @media (max-width: 992px) {
      bottom: 20px;
      left: 20px;
    }
    @media (max-width: 768px) {
      left: 10px;
      bottom: 10px;
      font-size: 9px;
    }
  }
  // .item-hot__name
  &__name {
    font-weight: 700;
    margin-bottom: 15px;
    color: #fff;
    @media (max-width: 992px) {
      margin-bottom: 10px;
    }
    @media (max-width: 768px) {
      margin-bottom: 5px;
      font-size: 12px;
    }
  }
  // .item-hot__link
  &__link {
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;

    @media (max-width: 992px) {
      font-size: 12px;
    }
    @media (max-width: 768px) {
      font-size: 9px;
    }
    a {
      display: flex;
      color: inherit;
      transition: all 0.8s ease 0s;

      i {
        margin-left: 10px;
        font-size: 14px;
        @media (max-width: 992px) {
          margin-left: 5px;
        }
      }
    }
  }
}
