#customMap {
  height: 400px;
}

.map {
  @include adaptiv-value(' margin-bottom', 100, 60, 1);
  z-index: -1;
  position: relative;
  // .map__container
  &__container {
  }
  // .map__wrapper
  &__wrapper {
  }
  // .map__points
  &__points {
  }
  // .map__point
  &__point {
    display: none;
  }
}
