.news-block {
  a {
    color: inherit;
  }
  // .news-block__container
  &__container {
  }
  // .news-block__title
  &__title {
    // font-size: 50px;
  }
  // .news-block__list
  &__list {
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    @include adaptiv-value('margin-bottom', 30, 10, 1);
    @media (max-width: 768px) {
      gap: 20px;
    }
  }
  // .news-block__item
  &__item {
    // flex: 0 1 32%;
    flex: 1 0 350px;
    @media (max-width: 992px) {
      flex: 0 0 49%;
    }
    @media (max-width: 768px) {
      flex: 1 1 100%;
    }
  }
  // .news-block__bottom
  &__bottom {
    color: #000;
    @include adaptiv-value('margin-bottom', 100, 60, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: flex;
      justify-content: center;
      gap: 10px;
      i {
        color: $colorRed;
      }
    }
  }
}

.item-news {
  position: relative;
  transition: all 0.5s ease 0s;
  overflow: hidden;

  // height: 265px;
  height: 375px;
  &:hover .item-news__bottom {
    transform: translateY(0%);
    opacity: 1;
  }
  @media (max-width: 992px) {
    // height: 340px;
  }
  @media (max-width: 768px) {
    height: 300px;
  }
  // .item-news__image
  &__image {
    height: 100%;
    // height: 265px;
    @media (max-width: 992px) {
      height: 100%;
      // height: 240px;
    }
    @media (max-width: 768px) {
      // height: 0px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .item-news__bottom
  &__bottom {
    background: #ffffff;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    transition: all 0.8s ease 0s;
    transform: translateY(50px);
    opacity: 0.7;
    position: absolute;
    width: 100%;
    min-height: 50px;
    bottom: 0;
    left: 0;
    @media (max-width: 768px) {
      transform: translateY(0%);
      opacity: 1;
    }

    a {
      padding: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 30px;

      @media (max-width: 992px) {
        padding: 20px;
      }
      @media (max-width: 768px) {
        padding: 15px 10px;
      }
      span {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        text-transform: uppercase;
        // max-width: 250px;
        width: 100%;
        position: relative;
        padding-right: 40px;

        @media (max-width: 768px) {
          font-size: 14px;
        }
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);

          right: 0;
          width: 20px;
          height: 20px;
          background: url('../img/icons/arrow-right.svg') 0 0 no-repeat;
          background-size: contain;
        }
      }
    }
  }
}
