.seo-block {
  .body-seo__img {
    &.alignleft {
      float: left;
      margin-right: 20px;
    }
    &.alignright {
      float: right;
      margin-left: 20px;
    }
  }

  margin-bottom: 100px;
  // .seo-block__container
  &__container {
  }
  // .seo-block__header
  &__header {
    padding: 0 0 30px 0;
    font-weight: 700;
    line-height: 120%;
    h1 {
    }
  }
  // .seo-block__body
  &__body {
    font-weight: 400;
  }
}

.body-seo {
  img {
    max-width: 100%;
    // height: 100%;
    // object-fit: cover;
  }
  h2 {
    padding: 20px 0;
    margin-bottom: 10px;
    font-size: 22px;
  }
  p {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 20px;
  }
  ul {
    li {
      padding-left: 20px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        left: 0;
        width: 10px;
        height: 10px;
        background-color: $colorRed;
      }
    }
  }
}
