.single-main {
  margin-top: 30px;
  // .single-main__common
  &__common {
  }
}

.common-single__title._title2 {
  text-align: center;
}

.common-single {
  // .common-single__title
  &__title {
    margin-bottom: 20px;
    // text-align: center;
    // margin-bottom: 45px;
  }
  // .common-single__item
  &__item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  // .common-single__body
  &__body {
  }
}

.single-common {
  display: flex;
  justify-content: space-between;
  @media (max-width: 992px) {
    flex-wrap: wrap;
  }

  // .single-common__column
  &__column {
    gap: 10px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;

    @media (max-width: 992px) {
      padding-bottom: 20px;

      // margin-bottom: 20px;
    }

    @media (max-width: 992px) {
      // background-color: #7a956d;
      flex: 0 0 50%;
      border-bottom: 1px solid #ccc;
    }
    @media (max-width: 768px) {
      flex: 1 1 100%;
    }

    // &:not(:last-child) {
    //   border-right: 1px solid #ccc;
    //   @media (max-width: 992px) {
    //     border-right: none;
    //   }
    // }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      justify-content: center;
      // align-items: center;
    }
    p {
      font-size: 15px;
      span {
        color: $colorOrange;
        font-weight: 700;
      }
    }
  }
  &__date {
    @media (max-width: 992px) {
      border-right: 1px solid #ccc;
    }
    @media (max-width: 768px) {
      border-right: none;
    }
  }
  &__price {
    @media (max-width: 992px) {
      border-right: none;
    }
    @media (max-width: 768px) {
      padding: 10px 0;
    }
  }
  &__info {
    @media (max-width: 992px) {
      padding-top: 10px;
      // border-right: 1px solid #ccc;
      // padding: 10px;
      border-bottom: none;
      padding-left: 0;
    }
    @media (max-width: 768px) {
      border-right: none;
      padding: 10px 0;
      // border-bottom: 1px solid #ccc;
    }
  }

  &__buttons {
    border-right: none;
    @media (max-width: 992px) {
      border-bottom: none;
    }
    @media (max-width: 768px) {
      padding: 10px 0;
    }
  }

  .info-common-item {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
    // gap: 10px;

    &__label {
      font-weight: 700;
      flex-grow: 1;
      // margin-left: 15px;
    }

    &__price {
      white-space: nowrap;
    }
  }
}

/* STAFF BLOCK */
.single-main {
  // .single-main__staff
  &__staff {
  }
}
.staff-single {
  @include adaptiv-value('margin-bottom', 60, 40, 1);
  display: flex;
  @media (max-width: 992px) {
    flex-direction: column;
  }
  // .staff-single__column
  &__column {
    flex: 0 0 50%;
  }
}
.staff-manager {
  @media (max-width: 992px) {
    margin-bottom: 30px;
  }
  // .staff-manager__title
  &__title {
    margin-bottom: 20px;
  }
  // .staff-manager__subtitle
  &__subtitle {
    margin-bottom: 30px;
  }
  // .staff-manager__list
  &__list {
    border-right: 1px solid #ccc;
    @media (max-width: 992px) {
      border-right: none;
      padding-bottom: 30px;
      border-bottom: 1px solid #ccc;
    }
  }
}
.list-staff {
  display: flex;
  flex-wrap: wrap;

  // .list-staff__item
  &__item {
    flex: 0 0 50%;
    padding-right: 15px;
    display: flex;
    gap: 10px;
    // &:nth-child(1),
    // &:nth-child(2) {
    margin-bottom: 50px;
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
    // }
    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  // .list-staff__photo
  &__photo {
  }
  // .list-staff__desc
  &__desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    @media (max-width: 768px) {
      align-items: center;
    }
  }
  // .list-staff__name
  &__name {
    font-weight: 700;
    opacity: 0.9;
  }
  // .list-staff__text
  &__text {
  }
}
.staff-guide {
  // .staff-guide__title
  &__title {
    // margin-top: 20px;
    margin-bottom: 20px;
  }
  // .staff-guide__subtitle
  &__subtitle {
    margin-bottom: 60px;
    opacity: 0;
    @media (max-width: 992px) {
      margin-bottom: 20px;
    }
  }
  // .staff-guide__list
  &__list {
    margin-left: 15px;
  }
}

/* STAFF BLOCK */
