.single-reviews {
  // .single-reviews__container
  &__container {
  }
  // .single-reviews__list
  &__list {
  }
  // .single-reviews__add-new
  &__add-new {
  }
}

.list-single-reviews {
  margin-bottom: 30px;
  // .list-single-reviews__title
  &__title {
  }
  // .list-single-reviews__list
  &__list {
    margin-bottom: 30px;
  }
  // .list-single-reviews__item
  &__item {
  }
  &__view-all {
    text-align: center;
    display: block;
    font-weight: 700;
    color: inherit;
  }
}
.item-single-reviews {
  height: auto;
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #ccc;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  // .item-single-reviews__bio
  &__bio {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 30px;
    border-right: 1px solid #ccc;
    @media (max-width: 768px) {
      border-right: none;
      padding: 0;
    }
    @media (max-width: 480px) {
      flex-direction: column;
      gap: 10px;
      justify-content: center;
    }
  }
  // .item-single-reviews__bio-img
  &__bio-img {
    max-width: 150px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .item-single-reviews__bio-info
  &__bio-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media (max-width: 768px) {
      align-items: center;
    }
  }
  // .item-single-reviews__stars
  &__stars {
    span {
      font-weight: 700;
      position: relative;
      padding-right: 25px;
      // background-color: teal;
      line-height: 100%;
      &:before {
        content: '';
        width: 18px;
        height: 18px;
        position: absolute;
        bottom: 2px;
        right: 0px;
        background-image: url(../img/icons/star.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }
    }
  }
  // .item-single-reviews__name
  &__name {
    color: $colorRed;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
  // .item-single-reviews__date
  &__date {
    font-size: 12px;
  }
  // .item-single-reviews__text-block
  &__text-block {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media (max-width: 768px) {
      padding: 0;
    }
  }
  // .item-single-reviews__text
  &__text {
    line-height: 20px;
    margin-bottom: 20px;
  }
  // .item-single-reviews__read-more
  &__read-more {
    //   span {
    //     position: relative;
    //     padding: 5px 0;
    //     padding-right: 25px;
    //     font-weight: 700;
    //     font-size: 13px;
    //     text-transform: uppercase;

    //     &:hover {
    //       &::before {
    //         background-color: tomato;
    //         transform: translate(0, -50%) rotate(45deg);
    //       }
    //       &:after {
    //         background-color: tomato;
    //         transform: translate(0, -50%) rotate(-45deg);
    //       }
    //     }
    //     &:before {
    //       content: '';
    //       width: 12px;
    //       background-color: #000;
    //       height: 2px;
    //       transition: transform 0.3s ease 0s;
    //       transform: translate(0, -50%) rotate(-45deg);
    //       position: absolute;
    //       right: 0px;
    //       top: 50%;
    //     }
    //     &:after {
    //       content: '';
    //       width: 12px;
    //       background-color: #000;
    //       height: 2px;
    //       transition: transform 0.3s ease 0s;
    //       transform: translate(0, -50%) rotate(45deg);
    //       position: absolute;
    //       right: 7px;
    //       top: 50%;
    //     }
    //   }
  }
}
.add-new-single-reviews {
}

//<BLOCK>====================================================================================================

.add-new-single-reviews {
  max-width: 800px;
  margin: 0px auto;
  margin-bottom: 60px;
  position: relative;

  .form__error {
    // background-color: tomato;
    position: absolute;
    right: 0;
    font-size: 12px;
    color: $colorRed;
  }
  .form-single-review {
    &__first-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      @media (max-width: 768px) {
        flex-direction: column-reverse;
        gap: 0;
      }
    }
    &__choices {
      width: 100%;
      .choices {
        // background-color: tomato;
        margin-bottom: 0;
      }
      .simple-rating__bottom {
        margin-bottom: 15px;
      }
    }
    &__last-row {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  label {
    text-transform: uppercase;
  }
  .review-form-input {
    // height: 44px;
  }
  .review-form-input,
  textarea {
    margin: 15px 0 15px;
    border: 1px solid #000;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    &::placeholder {
      text-transform: uppercase;
      color: $colorRed;
    }
  }
}

.form-single-review__first-row {
  border-bottom: 1px solid #ccc;
  .choices {
    margin-bottom: 20px;
    // min-width: 400px;
    width: 100%;
    @media (max-width: 768px) {
      min-width: 100%;
    }
  }
  .choices.is-focused {
    .choices__inner {
      border: 1px solid #000;
    }
    // border: 1px solid #000;
  }
  .choices__list--dropdown {
    border: 1px solid #000 !important;
  }
  .choice-guide {
    min-width: 400px;
  }
  .choices__inner {
    height: 44px;
    background-color: #fff;
    // margin-top: 15px;
    color: $colorRed;
    border: 1px solid #000;
    border-radius: 2px;
    opacity: 1;
    font-size: 15px;
  }
  .choices[data-type*='select-one']:after {
    // background-color: tomato;
    // margin-top: 3.5px;
  }
  .choices[data-type*='select-one'].is-open:after {
    margin-top: -4.5px;
  }
  // .choices[data-type*='select-one']:after {
  //   margin-top: -5.5px;
  // }
  .choices__list--single {
    line-height: 100%;
  }
  .choices__placeholder {
    // text-transform: uppercase;
    opacity: 1;
  }
  > label {
    min-width: 400px;
    // background-color: tomato;
    padding: 10px 0;
  }
  margin-bottom: 10px;
  .choices__item {
    // background-color: tomato;
  }
  .choices__placeholder {
    // background-color: tomato;
  }
  .choices__item--selectable {
    // background-color: tomato;
  }
}

.review-form-input {
  text-transform: uppercase;
  color: $colorRed;
  font-size: 15px;
}

.simple-rating {
  position: relative;
  font-size: 40px;
  display: inline-block;
  &:before {
    content: '★★★★★';
    display: block;
  }
  // .simple-rating__items
  &__items {
    // background-color: #006f6f;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }
  // .simple-rating__item
  &__item {
    position: absolute;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    visibility: hidden;
  }
  .simple-rating__item:checked,
  .simple-rating__item:checked ~ .simple-rating__label {
    color: $colorOrange;
  }
  // .simple-rating__label
  &__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #ccc;
    &:before {
      content: '★';
      display: block;
      transition: color 0.3s ease 0s;
    }
    &:hover,
    &:hover ~ .simple-rating__label {
      color: $colorOrange;
    }
  }

  &__bottom {
    transition: all 0.8s ease 0s;
    font-size: 14px;
    opacity: 0;

    text-align: center;
    span {
      font-weight: 700;
    }
  }
}
