.single-main {
  // .single-main__main
  &__main {
  }
}

.main-single {
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
  }
  // .main-single__top
  &__top {
    width: 100%;
  }
  // .main-single__bottom
  &__bottom {
  }
}

.top-main-single {
  display: flex;
  max-width: 1200px;
  gap: 20px;
  margin-bottom: 55px;
  @media (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 20px;
  }
  // .top-main-single__col
  &__col {
    width: 55%;
    height: 100%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.slider-main-single {
  margin-bottom: 10px;

  // .slider-main-single__slide
  &__slide {
    height: 360px !important;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.thumb-main-single-wrap {
  display: flex;
  gap: 20px;
}
.main-single-nav {
  display: flex;
  position: relative;
}
.main-single-nav__prev {
  right: 60px;
  left: auto;
}
.main-single-nav__next {
}
.thumb-main-single {
  flex-grow: 1;
  // .thumb-main-single__slide
  &__slide {
    opacity: 0.6;
    max-width: 120px !important;
    height: 60px !important;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }
  &_active {
    opacity: 1;
  }
}

.top-main-single {
  // .top-main-single__col
  &__col {
  }
}
.info-main-single {
  // background-color: tomato;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // .info-main-single__title
  &__title {
    margin-bottom: 10px;
  }
  // .info-main-single__duration
  &__duration {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;
  }
  // .info-main-single__price
  &__price {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }
  // .info-main-single__uah
  &__uah {
    font-size: 25px;
    font-weight: 700;
  }
  // .info-main-single__currency
  &__currency {
    font-size: 20px;
  }
  // .info-main-single__price-info
  &__price-info {
    cursor: pointer;
    border: 1px solid #ccc;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ccc;
    font-size: 12px;
    @media (max-width: 992px) {
    }
  }
  &__min-price {
    margin-bottom: 15px;
    font-size: 12px;
  }
  .min-price__item {
    line-height: 1.5;
  }
  // .info-main-single__descr
  &__descr {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 15px;
    @media (max-width: 992px) {
      flex-wrap: wrap;
      justify-content: space-around;
      // flex-direction: column;
    }
  }
  // .info-main-single__info
  &__info {
    // display: flex;
  }
  // .info-main-single__dates
  &__dates {
  }
  // .info-main-single__button
  &__button {
    margin-bottom: 25px;
  }
  // .info-main-single__icons
  &__icons {
    display: flex;
    gap: 25px;
  }
  // .info-main-single__icon
  &__icon {
    width: 40px;
    height: 40px;
    // filter: grayscale(1);
    // img {
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    // }
    // &:hover {
    //   filter: grayscale(0);
    //   animation: rotate-scale 1s forwards;
    // }
  }
}
.info-single-label {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}
.info-single-value {
}
.info-single-dates {
  // .info-single-dates__title
  &__title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  // .info-single-dates__list
  &__list {
    margin-bottom: 15px;
  }
  // .info-single-dates__date
  &__date {
    font-size: 13px;
    margin-bottom: 5px;
  }
  // .info-single-dates__bottom
  &__bottom {
    margin-bottom: 25px;
    a {
      color: #000;
      opacity: 0.7;
      font-weight: 700;
    }
  }
}
//<bottom-main-single>====================================================================================================
// .main-single {
//   // .main-single__bottom
//   &__bottom {
//   }
// }
.bottom-main-single {
  @include adaptiv-value('margin-bottom', 100, 60, 1);
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  // .bottom-main-single__route
  &__route {
    display: flex;
    gap: 40px;
    align-items: center;
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }
  // .bottom-main-single__flags
  &__flags {
    display: flex;
    gap: 10px;
  }
  // .bottom-main-single__flag
  &__flag {
    display: block;
    width: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    height: 25px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .bottom-main-single__cities
  &__cities {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    @media (max-width: 992px) {
      font-size: 18px;
    }
    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
  // .bottom-main-single__info
  &__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
    align-items: flex-end;
    @media (max-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  // .bottom-main-single__rest
  &__rest {
    white-space: nowrap;
    span {
      color: $colorOrange;
    }
  }
  // .bottom-main-single__rating
  &__rating {
    display: flex;
    justify-content: space-between;

    gap: 15px;
    flex-wrap: wrap;
  }
  // .bottom-main-single__reviews
  &__reviews {
    padding-left: 25px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 20px;
      bottom: 0;
      left: 0;
      background: url('../img/icons/like.svg') 0 0 no-repeat;
      background-size: contain;
    }
  }
  // .bottom-main-single__stars
  &__stars {
    padding-left: 25px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 20px;
      bottom: 0;
      left: 0;
      background: url('../img/icons/star.svg') 0 0 no-repeat;
      background-size: contain;
    }
  }
}

@keyframes rotate360 {
  100% {
    transform: rotate(360deg);
  }
}
