@import './swiper.scss';

.main-slider {
  width: 100%;
  height: 720px;
  background-color: #ccc;
  @media (max-width: 992px) {
    height: 650px;
  }
  @media (max-width: 768px) {
    height: 400px;
  }
  picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    // background-color: #fff;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #fff;
  }
  .swiper-pagination-bullet-active {
    position: relative;
    transition: all 0.8s ease 0s;

    &:before {
      position: absolute;
      border-radius: 50%;
      content: '';
      background: #fff;
      width: 7.5px;
      height: 7.5px;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }
}
.home-slider__socials,
.home-slider__contacts {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  :not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }

  a {
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      height: 40px;
      width: 40px;
    }
  }
}
.home-slider__socials {
  @include adaptiv-value('left', 34, 10, 1);
}
.home-slider__contacts {
  @include adaptiv-value('right', 34, 10, 1);
}
.home-slider__bottom {
  a {
    color: inherit;
  }
  @include adaptiv-value('padding-top', 75, 25, 1);
  @include adaptiv-value('padding-bottom', 75, 25, 1);

  display: flex;
  justify-content: space-evenly;
  font-size: 15px;

  .slider-bottom-item {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    &__img {
      display: flex;
      width: 70px;
      height: 70px;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border-radius: 50%;
      border: 1px solid #000;
      @media (max-width: 768px) {
        width: 40px;
        height: 40px;
      }
      img {
        width: 40px;
        height: 40px;
        @media (max-width: 768px) {
          width: 24px;
          height: 24px;
        }
      }
    }
    &__text {
      padding: 10px;
      text-transform: uppercase;
      @media (max-width: 768px) {
        font-size: 9px;
      }
    }
  }
}
.main-slider-btn-prev,
.main-slider-btn-next {
  position: absolute;
  bottom: 50px;
  top: auto;
  &:hover {
    &:before {
      transition: all 0.3s ease 0s;
      content: '';
      background: #b4b4b4;
    }
  }

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    background: $colorBeige;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    @media (max-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }

  i {
    color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    font-size: 20px;
  }
}

.main-slider-btn-next {
  right: 34px;
  &:after {
    content: '';
    background-color: #fff;
  }
}
.main-slider-btn-prev {
  right: 90px;
  left: auto;
  &:after {
    content: '';
  }
}
