.news-page {
  // .news-page__main-news
  &__main-news {
  }
  // .news-page__list
  &__list {
  }
}
.news-page-main {
  @include adaptiv-value('margin-bottom', 100, 60, 1);
  // .news-page-main__container
  &__container {
    margin-bottom: 25px;
  }
  // .news-page-main__image
  &__image {
    max-height: 500px;
    margin-bottom: 40px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .news-page-main__descr
  &__descr {
    display: flex;
    justify-content: space-between;
  }
  // .news-page-main__info
  &__info {
    margin-bottom: 25px;
  }
  // .news-page-main__date
  &__date {
    color: #000000;
    opacity: 0.9;
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 10px;
  }
  // .news-page-main__tags
  &__tags {
    display: flex;
    gap: 5px;
    a {
      font-size: 11px;
      font-weight: 700;
      color: inherit;
      display: block;
      padding: 5px;
      border: 1px solid #000;
    }
  }
  // .news-page-main__button
  &__button {
  }
  // .news-page-main__title
  &__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  // .news-page-main__text
  &__text {
    margin-bottom: 25px;
  }
}

.news-page-list {
  // .news-page-list__container
  &__container {
  }
  // .news-page-list__title
  &__title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    @include adaptiv-value('margin-bottom', 100, 60, 1);
  }
  // .news-page-list__list
  &__list {
  }
  &__bottom {
    // text-align: center;
    // @include adaptiv-value('margin-bottom', 100, 60, 1);

    // a {
    //   color: #000000;
    //   opacity: 0.9;
    //   font-weight: 700;
    //   text-transform: uppercase;
    //   padding-right: 20px;
    //   position: relative;
    //   &:before {
    //     content: '';
    //     position: absolute;
    //     top: 50%;
    //     transform: translateY(-50%);

    //     right: -5px;
    //     background-repeat: no-repeat;
    //     background-image: url(../img/icons/arrow-red.svg);
    //     background-size: contain;
    //     width: 20px;
    //     height: 15px;
    //   }
    // }
  }
}

.list-news-page {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  // .list-news-page__item
  &__item {
    flex: 1 0 300px;
  }
}
.item-list-news {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  @include adaptiv-value('margin-bottom', 50, 10, 1);
  // .item-list-news__image
  display: flex;
  flex-direction: column;
  &__image {
    overflow: hidden;
    img {
      transition: all 2s ease 0s;
      max-height: 270px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  &__bottom {
    flex-grow: 1;
    border: 1px solid #000;
    @include adaptiv-value('padding', 30, 10, 1);
  }
  // .item-list-news__descr
  &__descr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  // .item-list-news__info
  &__info {
  }
  // .item-list-news__date
  &__date {
    font-size: 12px;
    line-height: 140%;
    opacity: 0.9;
    margin-bottom: 10px;
  }
  // .item-list-news__tags
  &__tags {
    display: flex;
    gap: 5px;
    a {
      display: block;
      font-size: 11px;
      font-weight: 700;
      color: inherit;
      padding: 5px;
      border: 1px solid #000;
    }
  }
  // .item-list-news__button
  &__button {
    // width: 30px;
    // height: 30px;
    img {
      width: 100%;
      height: 100%;
      border: 1px solid #000;
      border-radius: 50%;
      padding: 5px;
      transition: all 0.3s ease 0s;
      &:hover {
        transform: scale(1.1);
      }
    }
    a {
      display: block;
      width: 35px;
      height: 35px;
    }
  }
  // .item-list-news__title
  &__title {
    a {
      font-size: 20px;
      font-weight: 700;
      line-height: 22px;
      margin-bottom: 15px;
      display: block;
      color: inherit;
    }
  }
  // .item-list-news__text
  &__text {
    flex-grow: 1;
  }
}
